.gridCenter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-items: center;
    gap: 5px;
}

.backgroundGradient::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -50px;
    --bg-color: rgb(34,193,195);

    box-shadow: 0 0 0 100vmax var(--bg-color);
    clip-path: inset(0 -100vmax);
    background-color: var(--bg-color);
    height: 150vh;
}

.backgroundGradient {
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    color: #fff;
    
}

.btn {
    height: 30px;
}

.aboutPage {
    display: grid;
     grid-template-columns: repeat(3,auto);
     align-items: center;
     gap: 10px;
     margin: 20px;
     color: #fff 


    }
@media (max-width: 768px) {
    .aboutPage {
        grid-template-columns: repeat(1,auto);
    }
}